
body {
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
   
    color: #000000;
    background: linear-gradient(10deg, #2824ff 60%, #632cfb 60%);
}

header {
    padding: 20px;
    background-color: #2428ff;
}

h1 {
    font-size: large;
}
h3 {
    font-size: medium;
}
.pict {
    height: 400px;
    width: 400px;
}